@{
    ViewData["Title"] = "Home Page";
}

@model UsersModel


<div class="text-center">
    <header class="header">
        <a asp-controller="UserList" asp-action="Create">
            Добавить нового пользователя
        </a>

        <div>
            Страница # 1 из 10
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users != null)
            {
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.LastName</td>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <footer class="home-footer">
        <button>
            Назад
        </button>
        
        <button>
            Вперед
        </button>
    </footer>
</div>